# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Actual ignores
*.d
*.o
*.so
*.root
*.pyc
*.swp
*.egg-info

jppy.cpp

.ropeproject
dist

# Cython build files
src/daqeventreader.cpp
src/summaryslicereader.cpp
